@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500&family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
}
.hero_container {
  width: 100%;
  background-image: url("./assets/banner.jpg");
  border-radius: 1.5rem;
  padding: 4rem;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}
input {
  width: 20rem;
  outline: none;
  border: none;
  padding: 10px !important;
  background-color: white;
  border-radius: 22px;
  box-shadow: 2px 2px 8px #c7c7c7, -2px -2px 8px #f9f9f9;
}
.search-form p {
  color: gray;
}
.gallery-items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.gallery-items li {
  position: relative;
}
.gallery-items img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}
.gallery-items p {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.3rem 0.8rem;
  background-color: white;
  border-radius: 1rem;
}
/* Single column for very small screens */
@media (max-width: 670px) {
  .gallery-items {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Two columns for small to medium screens */
@media (min-width: 671px) and (max-width: 1075px) {
  .gallery-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Three columns for larger screens */
@media (min-width: 1076px) and (max-width: 1409px) {
  .gallery-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Four columns for very large screens */
@media (min-width: 1410px) {
  .gallery-items {
    grid-template-columns: repeat(4, 1fr);
  }
}
